<h2>Users</h2>

<p><%= button "Create a new user", to: user_path(@conn, :new), method: :get, class: "btn btn-success" %></p>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Username</th>
      <th>Name</th>
      <th></th>
  </thead>
  <tbody>
    <%= for user <- @users do %>
      <%= render "_user.html", conn: @conn, user: user %>
    <% end %>
  </tbody>
</table>
